<ion-view class="pageBackground">
	<ion-content class="bgnew tab-Content" ></ion-content>
	<ion-tabs class="tabs-striped tabs-top tabs-custom tabs-background-stable tabs-color-dark">
    <ion-tab  class="bg" title="HOME" ui-sref="app.Dashboard.studentDB">
      <ion-nav-view name="tab-StudentDB"></ion-nav-view>
    </ion-tab>
    <ion-tab  class="bg" title="FEES PAYMENT" ui-sref="app.Dashboard.Payment" >
      <ion-nav-view name="tab-Payment"></ion-nav-view>
    </ion-tab>
  </ion-tabs>  
</ion-view>