<ion-header-bar class="headerborder">
	<div class="IconDiv" ng-click="goback();">
    <i class="ion ion-arrow-left-c back-icon headerICons"></i>
  </div>
  <div class="">
    <h3  class="headertitle">Tab</h3>
  </div>
</ion-header-bar>
<ion-view title="Scrollable Tabbed Slide box">
  <ion-content scroll="false">
	  	<style>
				.slider-slide h3{
				color:#fff;
				margin-top:10px;
				}
				.scroll{
				height:100%;
				}
				 .tabbed-slidebox .tsb-icons:after{
				display:none;
				}
				.profileClass{
					min-height: 106px;
			    padding-left: 102px;
			    padding-top: 25px;
				}
			.profileimgClass > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
			    border-radius: 50%;
			    height: 100%;
			    left: 16px;
			    max-height: 67px;
			    max-width: 67px;
			    position: absolute;
			    top: 18px;
			    width: 100%;
				}
				.profileName{font-size: 23px !important}
				.prfileDetails{font-size: 16px  !important}
				.icon-size{font-size: 40px !important}
			</style>
      <tab-slide-box tab="0">
				<div class="tsb-icons">
				  <div class="tsb-ic-wrp">
						<ion-scroll direction="x" class="tsb-hscroll">
							<a href="javascript:;" class="ion-home1">ABOUT</a>
							<a href="javascript:;" class="ion-ios-game-controller-b1">PARENT / GUARIDAN DETAILS</a>
							<a href="javascript:;" class="ion-email1">ADDITIONAL DETAILS</a>
						</ion-scroll>
					</div>
				</div>
				<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
					<ion-slide>
						<ion-scroll style="height:100%" delegate-handle="slide1Scroll" >
							<div class="card">
								<div class="list">
									<a class="item item-avatar profileClass profileimgClass" href="#">
										<img src="https://s-media-cache-ak0.pinimg.com/originals/57/43/47/574347ddf6be999e0027de121104f2ff.png">
					          <!-- <img src="http://dev.dreamsapps.com/just1hour/principal1.png"> -->
					          <!-- https://s-media-cache-ak0.pinimg.com/originals/57/43/47/574347ddf6be999e0027de121104f2ff.png -->
					          <!-- https://www.emartu.com/public/assets/flat-faces-icons-circle-6-circle.png -->
					          <h2 class="profileName">Ravi raj</h2>
					          <p class="prfileDetails">Bachelor of Computer Application  BCA - A</p>
					        </a>
					      </div>
							</div>
		          <div class="card">
						    <div class="list">
						      <div class="item item-text-wrap">
						        <h2>Personal Details</h2>
						      </div>
						      <a class="item item-avatar" href="#">
						        <img src="img/icons/DOB.png">
						        <h2>03.09.2017</h2>
						        <p>Date of Birth</p>
						      </a>
						      <a class="item item-avatar" href="#">
						        <img src="img/icons/Gender.png">
						        <h2>Male</h2>
						        <p>Gender</p>
						      </a>
						      <a class="item item-avatar" href="#">
						        <img src="img/icons/Nationality.png">
						        <h2>India</h2>
						        <p>Nationality</p>
						      </a>
						      <a class="item item-avatar" href="#">
						        <img src="img/icons/MotherTonue.png">
						        <h2>Tamil</h2>
						        <p>Mother Tongue</p>
						      </a>
						    </div>
						  </div>
						  <div class="card">
						    <div class="list">
						      <div class="item item-wrap">
						        <h2>Contact info</h2>
						      </div>
						      <a class="item item-avatar" href="#">
						        <img src="img/icons/Address.png">
						        <h2>No:128,Louis Pat Street,Newyork</h2>
						        <h2>Cambridge - 606005, USA</h2>
						        <p>Address</p>
						      </a>
						      <a class="item item-avatar" href="#">
						        <img src="img/icons/Phone.png">
						        <h2>+91 9543295432</h2>
						        <p>Phone</p>
						      </a>
						      <a class="item item-avatar" href="#">
						        <img src="img/icons/Email.png">
						        <h2>Arunvijay@gmail.com</h2>
						        <p>Email</p>
						      </a>
						    </div>
						  </div>
						  <br>
						  <br>
						  <br>
						</ion-scroll>
	        </ion-slide>
          <ion-slide>
	          <ion-scroll style="height:100%" delegate-handle="slide1Scroll">
	            <div class="card">
						    <div class="list">
						        <div class="item item-text-wrap">
						          <h2>Personal Details</h2>
						        </div>
						        <a class="item item-avatar" href="#">
						          <img src="img/icons/Name.png">
						          <h2>Ravi raj</h2>
						          <p>Parent Name</p>
						        </a>
						        <a class="item item-avatar" href="#">
						          <img src="img/icons/Gender.png">
						          <h2>Male</h2>
						          <p>Gender</p>
						        </a>
						        <a class="item item-avatar" href="#">
						          <img src="img/icons/Father.png">
						          <h2>Father</h2>
						          <p>Relation</p>
						        </a>
						        <a class="item item-avatar" href="#">
						          <img src="img/icons/Job.png">
						          <h2>Farmer</h2>
						          <p>Occupation</p>
						        </a>
						        <a class="item item-avatar" href="#">
						          <img src="img/icons/income.png">
						          <h2>1000</h2>
						          <p>Income</p>
						        </a>
						    </div>
						  </div>
						  <div class="card">
						    <div class="list">
						      <div class="item item-wrap">
						        <h2>Contact info</h2>
						      </div>
						      <a class="item item-avatar" href="#">
						        <img src="img/icons/Address.png">
						        <h2>No:128,Louis Pat Street,Newyork</h2>
						        <h2>Cambridge - 606005, USA</h2>
						        <p>Address</p>
						      </a>
						      <a class="item item-avatar" href="#">
						        <img src="img/icons/Phone.png">
						        <h2>+91 9543295432</h2>
						        <p>Phone</p>
						      </a>
						      <a class="item item-avatar" href="#">
						        <img src="img/icons/Email.png">
						        <h2>Arunvijay@gmail.com</h2>
						        <p>Email</p>
						      </a>
						    </div>
						  </div>
						  <br>
						  <br>
						  <br>
	          </ion-scroll>
          </ion-slide>
          <ion-slide>
          <ion-scroll style="height:100%" delegate-handle="slide1Scroll">
						<div class="card">
					    <div class="list">
					        <div class="item item-text-wrap">
					          <h2>Social Profile</h2>
					        </div>
					        <a class="item item-avatar" href="#">
					          <img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png">
					          <h2>Facebook</h2>
					        </a>
					        <a class="item item-avatar" href="#">
					          <img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png">
					          <h2>1000</h2>
					          <p>Income</p>
					        </a>
					    </div>
					  </div>
					  <div class="card">
					    <div class="list">
					      <div class="item item-wrap">
					        <h2>Siblings</h2>
					      </div>
					      <a class="item item-avatar" href="#">
					        <img src="img/icons/slibings.png">
					        <h2>Brother</h2>
					        <p>Sibling</p>
					      </a>
					      <a class="item item-avatar" href="#">
					        <img src="img/icons/slibings.png">
					        <h2>Sister</h2>
					        <p>Sibling</p>
					      </a>
					    </div>
					  </div>
					  <br>
					  <br>
					  <br>
					</ion-scroll>
          </ion-slide>
        </ion-slide-box>
      </tab-slide-box>
    </ion-content>
  </ion-view>