<ion-view title="Scrollable Tabbed Slide box">
  <ion-content scroll="false">
	  	<ion-tabs class="tabs-icon-top tabs-bottom has-tabs-top tabs-color-active-positive ">
        <ion-tab title="Journal" icon-off="ion-ios-person-outline" icon-on="ion-ios-person">
            <ion-nav-view name="tab-journal"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Friends" icon-off="ion-ios-people-outline" icon-on="ion-ios-people">
            <ion-nav-view name="tab-friends"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Favourites" icon-off="ion-ios-star-outline" icon-on="ion-ios-star">
            <ion-nav-view name="tab-favourites"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email">
            <ion-nav-view name="tab-messages"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
    </ion-content>
  </ion-view>