	<ion-view class="pageBackground">
		<ion-header-bar class="headerborder" >
	  <div class="IconDiv" ng-click="goback();">
	    <i class="ion ion-arrow-left-c back-icon headerICons"></i>
	  </div>
	  <div>
	    <h4 class="headertitle">Admission</h4>
	  </div>
	</ion-header-bar>
	<ion-content>
		<div class="card">
      	<div class="list accord item-text-wrap" ng-repeat="group in groups">
      		<a class="item-stable item item-icon-right" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
      			<i class="icon accordianICon" ng-class="isGroupShown(group) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
      			 {{group.Deptname}}
      		</a>
          <a class="item-accordion item" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
            <p>{{item.courseName}}</p>
          </a>
          <a class="item bottomborderOverlap"></a>
        </div>
      </div>
	</ion-content>
</ion-view>