<ion-view class="pageBackground">
	<ion-view class="pageBackground">
	<ion-header-bar class="headerborder" >
	  <div class="IconDiv" ng-click="goback();">
	    <i class="ion ion-arrow-left-c back-icon headerICons"></i>
	  </div>
	  <div class="">
	    <h3  class="headertitle">Admission</h3>
	  </div>
	</ion-header-bar>
	<ion-content>		
		<!-- <div class="card">
		  <div class="item item-divider">
		    School of Mechanical Engineering
		  </div>
		  <div class="item item-text-wrap">
		    <p>- Department of Mechanical Engineering</p>
		  </div>
		</div> -->
		<div class="card">
	    <div href="#" class="item item-avatar newavatar">
	      <img src="img/icons/Event Accepted Filled-100.png" class="Cardimage">
	      <p class="Card-icon-Title" style="padding-top: 10px;font-size: 15px !important">Undergraduate Admissions</p>
	    </div>
	    <p class="CardfooterText"><a class="anchorTag1" ui-sref="Course">MORE</a></p>
		</div>
		<div class="card">
	    <div href="#" class="item item-avatar newavatar">
	      <img src="img/icons/Event Accepted Filled-100.png" class="Cardimage">
	      <p class="Card-icon-Title" style="padding-top: 10px;font-size: 15px !important">Postgraduate Admissions</p>
	    </div>
	    <p class="CardfooterText"><a class="anchorTag1" ui-sref="Course">MORE</a></p>
		</div>
		<div class="card">
	    <div href="#" class="item item-avatar newavatar">
	      <img src="img/icons/Event Accepted Filled-100.png" class="Cardimage">
	      <p class="Card-icon-Title" style="padding-top: 10px;font-size: 15px !important">Reasearch Admissions</p>
	    </div>
	    <p class="CardfooterText"><a class="anchorTag1" ui-sref="Course">MORE</a></p>
		</div>
		<div class="card">
	    <div href="#" class="item item-avatar newavatar">
	      <img src="img/icons/Event Accepted Filled-100.png" class="Cardimage">
	      <p class="Card-icon-Title" style="padding-top: 10px;font-size: 15px !important">International/NRI Admissions</p>
	    </div>
	    <p class="CardfooterText"><a class="anchorTag1" ui-sref="Course">MORE</a></p>
		</div>
	</ion-content>
</ion-view>