<ion-view class="pageBackground">
	<ion-view class="pageBackground">
	<ion-header-bar class="headerborder" >
	  <div class="IconDiv" ng-click="goback();">
	    <i class="ion ion-arrow-left-c back-icon headerICons"></i>
	  </div>
	  <div class="">
	    <h3  class="headertitle">Career</h3>
	  </div>
	</ion-header-bar>
	<ion-content>
	<style type="text/css">
		.compName{padding-top: 9px}
	</style>		
	<div class="card">
      <div class="list">
        <div class="item item-wrap item-text-wrap">
          <h2 class="compName">Dream Companies</h2>
        </div>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Address.png">
          <h2 class="compName">Microsoft</h2>
        </span>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Phone.png">
          <h2 class="compName">Paypal</h2>
        </span>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Email.png">
          <h2 class="compName">Zomato</h2>
        </span>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Email.png">
          <h2 class="compName">Payu</h2>
        </span>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Email.png">
          <h2 class="compName">Honeywell</h2>
        </span>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Email.png">
          <h2 class="compName">Flipkart</h2>
        </span>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Email.png">
          <h2 class="compName">Snapdeal</h2>
        </span>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Email.png">
          <h2 class="compName">Myntra</h2>
        </span>
      </div>
    </div>
    <div class="card">
	  <div class="item item-divider">
	    Placement Records
	  </div>
	  <div class="item item-text-wrap">
	    <p>Ruby Campus has been consistently been setting records and breaking them over the past several years. The latest was with close to 8000 job offers made to our students by Accenture, Wipro, TCS and Infosys.</p>
	    <p></p>
	    <p>
            <strong>Here’s a quick glimpse of our top IT recruiters over the years</strong><br>
            2012-13<br>
             -Accenture(1492), Cognizant(803) and Wipro(1308)<br>
            2013-14<br>
            -Accenture(1688), Cognizant(1084) and Wipro(1162)<br>
            2014-15<br>
            -Accenture(1324), Cognizant(1911), Infosys(1452) &amp; Wipro(1141)
        </p>
        <p></p>
        <p>
          <strong>VIT has entered into Limca Book of Records thrice for the highest number of campus placements done from a single Institution by a single company:</strong>
          <br>
          </p>
          <p></p>
          <ul>
            <li><i class="mdi-image-navigate-next"></i>2009 (TCS-1075)</li>
            <li><i class="mdi-image-navigate-next"></i>2011 (Cognizant-1643)</li>
            <li><i class="mdi-image-navigate-next"></i>2012 (Cognizant-1820)</li>
          </ul>
	  </div>
	</div>
      </div>
    </div>
	</ion-content>
</ion-view>