<ion-view class="pageBackground">
	<ion-view class="pageBackground">
	<ion-header-bar class="headerborder" >
	  <div class="IconDiv" ng-click="goback();">
	    <i class="ion ion-arrow-left-c back-icon headerICons"></i>
	  </div>
	  <div class="">
	    <h3  class="headertitle">Contact Us</h3>
	  </div>
	</ion-header-bar>
		<ion-content>		
	<div class="card">
      <div class="list">
        <div class="item item-wrap item-text-wrap">
          <h2>Contact info</h2>
        </div>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Address.png">
          <h2>No:128,Louis Pat Street,Newyork</h2>
          <h2>Cambridge - 606005, USA</h2>
          <p>Address</p>
        </span>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Phone.png">
          <h2>+91 9543295432</h2>
          <p>Phone</p>
        </span>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Email.png">
          <h2>+91-44-27453622</h2>
          <p>Fax</p>
        </span>
        <span href="#" class="item item-avatar item-text-wrap">
          <img src="img/icons/Email.png">
          <h2>RubyCampus@gmail.com</h2>
          <p>Email</p>
        </span>
      </div>
    </div>
	</ion-content>
</ion-view>