<ion-view class="pageBackground">
	<!-- <ion-header-bar class="headerborder" > -->
	  <!-- <div class="bar bar-header bar-assertive"> -->
		  <!-- <h1 class="title">Ruby Campus</h1>
		  <img src="img/icons/Login Rounded Right-100 (1).png" style="width: 40px;float: right;"> -->
		<!-- </div> -->
	<ion-header-bar class="headerborder" >
  <div class="h1 title">Ruby Campus</div>
  <button class="button button-icon icon ion-log-in" ui-sref="app.Dashboard" style="color: white"></button>
  </ion-header-bar>
	<ion-content>
		<div class="imageSlider">
			<ion-slide-box show-pager="true" does-continue="true" slide-interval="3000"  auto-play="true" >
		    <ion-slide>
		        <img src="https://www.mytutorhunt.com/sites/default/files/collegeinfo/cmpus_home_five.jpg" width="100%" />
		    </ion-slide>
		    <ion-slide>
		        <img src="https://www.mytutorhunt.com/sites/default/files/collegeinfo/building.jpg" width="100%" />
		    </ion-slide>
		    <ion-slide>
		        <img src="https://www.mytutorhunt.com/sites/default/files/collegeinfo/school-of-engineering-and-technology-Jain-university-bangalore.jpg" width="100%" />
		    </ion-slide>
		    <ion-slide>
		        <img src="https://www.rajagiritech.ac.in/Home/images/008.jpg" width="100%" />
		    </ion-slide>
		    <ion-slide>
		        <img src="http://rcbs.rajagiri.edu/uploads/slider/83/83.JPG" width="100%" />
		    </ion-slide>
			</ion-slide-box>
		</div>
		<!-- <div class="card">
	    <div class="item item-avatar newavatar">
	      <img class="Cardimage" src="img/icons/Event Accepted Filled-100.png">
	      <p class="Card-icon-Title">About Us</p>
	      <p class="Card-icon-Cont">VIT University was established with
	      the aim of providing quality higher education on par with international standards. It persistently seeks and adopts innovative methods to improve the quality of higher education on a consistent basis</p>
	    </div>
	    <p class="CardfooterText"><a class="anchorTag1" ui-sref="Aboutus">MORE</a></p>
		</div>
		<div class="card">
			<div class="item item-divider">
		    <b>About Us</b>
		  </div>
	    <div class="item item-text-wrap">
	      sdfasdfgashd shdfgashd sdfasdfgas hdshdfg ashd sdfasdfg ashdshdfgas hd	 
	      sdfas dfgashds hdfgashd sdfasdfgashdsh dfgashd sdfas dfgash dshdfgashd
	    </div>
	    <p class="CardfooterText"><a class="anchorTag1" ui-sref="Course">MORE</a></p>
		</div> -->
		<div class="card">
			<div class="item item-divider">About Us</div>
	    <div class="item item-text-wrap">
	      <img class="InstitueDetailsImg" src="img/icons/Aboutus.png">
	      <div><p class="instContent">Ruby Campus was established with the aim of providing quality higher education  on par with international standards. It persistently seeks and adopts innovative methods to improve the quality of higher education on a consistent basis.</p></div>
	    </div>
	    <!-- <p class="CardfooterText"><a class="anchorTag1" ui-sref="Aboutus">MORE</a></p> -->
	    <div class="item item-divider btn"><span ui-sref="Aboutus" style="float: right">More</span></div>
		</div>
		<div class="card">
			<div class="item item-divider">Courses</div>
	    <div class="item item-text-wrap">
	      <img class="InstitueDetailsImg" src="img/icons/course.png">
	      <div><p class="instContent">Ruby Campus was established with the aim of providing quality higher education  on par with international standards. It persistently seeks and adopts innovative methods to improve the quality of higher education on a consistent basis.</p></div>
	    </div>
	    <!-- <p class="CardfooterText"><a class="anchorTag1" ui-sref="Course">MORE</a></p> -->
	    <div class="item item-divider"><span ui-sref="Course" style="float: right">More</span></div>
		</div>
		<div class="card">
			<div class="item item-divider">Admission</div>
	    <div class="item item-text-wrap">
	      <img class="InstitueDetailsImg" src="img/icons/admission1.png">
	      <div><p class="instContent">Ruby Campus was established with the aim of providing quality higher education  on par with international standards. It persistently seeks and adopts innovative methods to improve the quality of higher education on a consistent basis.</p></div>
	    </div>
	    <!-- <p class="CardfooterText"><a class="anchorTag1" ui-sref="Admission">MORE</a></p> -->
	    <div class="item item-divider"><span ui-sref="Admission" style="float: right">More</span></div>
		</div>
		<div class="card">
			<div class="item item-divider">Career</div>
	    <div class="item item-text-wrap">
	      <img class="InstitueDetailsImg" src="img/icons/Permanent Job Filled-100.png">
	      <div><p class="instContent">Ruby Campus was established with the aim of providing quality higher education  on par with international standards. It persistently seeks and adopts innovative methods to improve the quality of higher education on a consistent basis.</p></div>
	    </div>
	    <!-- <p class="CardfooterText"><a class="anchorTag1" ui-sref="Career">MORE</a></p> -->
	    <div class="item item-divider"><span ui-sref="Career" style="float: right">More</span></div>
		</div>
		<div class="card">
			<div class="item item-divider">Contact Us</div>
	    <div class="item item-text-wrap">
	      <img class="InstitueDetailsImg" src="img/icons/Address.png">
	      <div><p class="instContent">Ruby Campus was established with the aim of providing quality higher education  on par with international standards. It persistently seeks and adopts innovative methods to improve the quality of higher education on a consistent basis.</p></div>
	    </div>
	    <!-- <p class="CardfooterText"><a class="anchorTag1" ui-sref="Contactus">MORE</a></p> -->
	    <div class="item item-divider"><span ui-sref="Contactus" style="float: right">More</span></div>
		</div>
		<br>
	</ion-content>
</ion-view>
<!-- <ion-content delegate-handle="" direction="" locking="" padding="" scroll="" overflow-scroll="" scrollbar-x="" scrollbar-y="" start-x="" start-y="" on-scroll="" on-scroll-complete="" has-bouncing="" scroll-event-interval=""> -->

