<ion-header-bar class="headerborder" >
  <div class="IconDiv" ng-click="goback();">
    <i class="ion ion-arrow-left-c back-icon headerICons"></i>
  </div>
  <div class="">
    <h3  class="headertitle">About Us</h3>
  </div>
</ion-header-bar>
<ion-view class="pageBackground">
<ion-content>
 <style type="text/css">
    .tabs-positive > .tabs, .tabs.tabs-positive {
    background-color: #32373B;
    background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
    border-color: #32373B;
    color: white;
}
  </style>
</ion-content>
  <!-- <ion-tabs class="tabs-positive tabs-icon-top tabs-top " delegate-handle="myhandle">
    <ion-tab title="Home" icon="ion-home">
      <ion-tabs class="tabs-striped  tabs-icon-top" delegate-handle="myhandle">
        <ion-tab title="About" icon="ion-person">
         <ion-content on-swipe-left="goForward()">Home - A hfgfgf</ion-content>
        </ion-tab>
        <ion-tab title="Parent" icon="ion-person">
         <ion-content>Home - B jhgfvgdffgfgd</ion-content>
        </ion-tab>
        <ion-tab title="Additional" icon="ion-person">
         <ion-content>Home - B jhgfvgdffgfgd</ion-content>
        </ion-tab>
      </ion-tabs>
    </ion-tab>
    <ion-tab title="About" icon="ion-person">
     <ion-content on-swipe-right="goBack()">About</ion-content>
    </ion-tab>
  </ion-tabs> -->
<!--   <ion-tabs class="tabs-striped tabs-top" delegate-handle="myhandle">
    <ion-tab title="About" ui-sref="Profile.about">
      <ion-nav-view name="about"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Home">
      <ion-tabs class="tabs-positive tabs-icon-top" delegate-handle="myhandle">
        <ion-tab title="About" icon="ion-person">
         <ion-content on-swipe-left="goForward()">Home - A hfgfgf</ion-content>
        </ion-tab>
        <ion-tab title="Parent" icon="ion-person">
         <ion-content>Home - B jhgfvgdffgfgd</ion-content>
        </ion-tab>
        <ion-tab title="Additional" icon="ion-person">
         <ion-content>Home - B jhgfvgdffgfgd</ion-content>
        </ion-tab>
      </ion-tabs>
    </ion-tab>
    <ion-tab title="About">
     <ion-content on-swipe-right="goBack()">About</ion-content>
    </ion-tab>
  </ion-tabs> -->
</ion-view>


