<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content edge-drag-threshold="true">
    <!-- <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon Togglebtn" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-header-bar class="headerborder" >
      <div class="IconDiv">
        <button class="button button-icon button-clear ion-navicon Togglebtn" menu-toggle="left">
        </button>
      </div>
      <div class="">
        <h3  class="headertitle">Home</h3>
      </div>
    </ion-header-bar>   
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class="">
    <ion-header-bar class="bar-stable menuHeader">
      <div class="col col-100 profileDiv">
        <img ui-sref="Profile.about" src="http://tl-cologne.weebly.com/uploads/5/8/3/5/58354149/1534475_orig.png?180" class="menuHeaderProfileimg">
        <p class="HeaderMenuProfileName">Ruby</p>
        <p class="HeaderMenuProfileNo">B.Tech Information Technology</p>
      </div>
    </ion-header-bar>
    <ion-content class="contentAdjust">
      <ion-list>
          <ion-item menu-close ui-sref="Profile"><i class="ion-person-add"></i><span class="menufont">Profile </span></ion-item>
          <ion-item menu-close ui-sref="Calendar"><i class="ion-android-calendar"></i><span class="menufont">News & Events</span></ion-item>
          <ion-item menu-close ui-sref="AttdncPerctgView"><i class="ion-calendar"></i><span class="menufont">Attendance Details</span></ion-item>
          <ion-item menu-close><i class="ion-document-text"></i><span class="menufont">Exam Report</span></ion-item>
          <ion-item menu-close ui-sref="Message"><i class="ion-ios-compose"></i><span class="menufont">Assignment</span></ion-item>
          <ion-item menu-close ui-sref="Settings"><i class="ion-ios-book"></i><span class="menufont">Repository</span></ion-item>
          <ion-item menu-close><i class="ion-social-usd"></i><span class="menufont">Fees Details</span></ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
