<ion-side-menus enable-menu-with-back-views="false" >
<!-- <drawer-close></drawer-close> -->
  <ion-side-menu-content drag-content="false" edge-drag-threshold="false">
    <!-- <div style="background-size: 100%;" >
      <div style=" background-color:#f4851f;">
        <div class="row ">
          <div class="col col-30">
            <button class="button-icon ion-navicon MenuToggle-btn" menu-toggle="left"></button>
          </div>
          <div class="col col-70">
            <h4 class="">Home</h4>
          </div>
        </div>
      </div>
     </div> -->
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon Togglebtn" drawer-toggle animate="false"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- <ion-nav-view name="menuContent">Home</ion-nav-view> -->
    <ion-tabs class="tabs-striped tabs-top tabs-custom tabs-background-stable tabs-color-dark" drawer-close>
        <ion-tab  class="bg" title="MY AIRTEL"  href="#/app/hsa" >
          <ion-nav-view name="tab-hsa"></ion-nav-view>
        </ion-tab>
        <ion-tab  class="bg" title="PAYMENT BANK"  href="#/app/fsa" >
          <ion-nav-view name="tab-fsa"></ion-nav-view>
        </ion-tab>
    </ion-tabs>       
  </ion-side-menu-content>
  <drawer side="left" class="newsidemenusty">
  <ion-side-menu side="left"  class="sideMenuWidth" >
    <!-- <ion-header-bar class="bar-stable menuHeader item item-avatar">
      <img src="https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/Boy_user_man_male_child_girl_g12_baby_student.png" style="background-color:white ">
      <h2 class="profiletext">Manikandan</h2>
      <p class="profiletext">9797854512</p>
      <div class="headfootdata">
      <a href="#" class="anchorTag">Rs.500 <i class="ion-ios-plus-outline button-positive" ></i></a>
      <p style="color: white;font-size: 12px">Available Balance</p>
      </div>
    </ion-header-bar> -->
    <ion-header-bar class="bar-stable menuHeader">
      <!-- <img src="https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/Boy_user_man_male_child_girl_g12_baby_student.png" style="background-color:white ">
      <h2 class="profiletext">Manikandan</h2>
      <p class="profiletext">9797854512</p>
      <div class="headfootdata">
      <a href="#" class="anchorTag">Rs.500 <i class="ion-ios-plus-outline button-positive" ></i></a>
      <p style="color: white;font-size: 12px">Available Balance</p>
      </div> -->
      <div class="col col-100 profileDiv">
        <!-- <img src="https://cdn1.iconfinder.com/data/icons/mix-color-3/502/Untitled-7-512.png" class="menuHeaderProfileimg"> -->
        <img ui-sref="Profile.about" src="http://tl-cologne.weebly.com/uploads/5/8/3/5/58354149/1534475_orig.png?180" class="menuHeaderProfileimg">
        <p class="HeaderMenuProfileName">Me</p>
        <p class="HeaderMenuProfileNo">9876543210</p>
        <p class="menuHeaderBorder"></p>
        <img class="headFooterDataImg" src="http://www.clker.com/cliparts/y/I/c/5/4/m/indian-rupee-white-md.png">
        <p class="headFooterDataText1"><i class="fa fa-users"></i> 105 <span>
          <!-- <img width="25px" src="http://www.iconsdb.com/icons/preview/orange/plus-5-xxl.png" style="padding-top: 0px;height: 15px;width: 14px;margin-left: 0px"> -->
          <!-- <img width="25px" src="http://www.sucaijiayuan.com/uploads/file/contents/2013/10/526cbaeca9a99.png" style="padding-top: 0px;height: 15px;width: 14px;margin-left: 0px"> -->
        </span></p>
        <p class="headFooterDataText2">Available  Balance</p>

      </div>
    </ion-header-bar>
    <ion-content class="contentAdjust" drawer-close >
      <ion-list>
          <ion-item menu-close ui-sref="Profile"><i class="ion-person-add"></i><span class="menufont">Profile</span></ion-item>
          <ion-item menu-close><i class="ion-person-add"></i><span class="menufont">Add Account</span></ion-item>
          <ion-item menu-close><i class="ion-social-usd"></i><span class="menufont">Transaction History</span></ion-item>
          <ion-item menu-close><i class="ion-ios-people"></i><span class="menufont">Family Share</span></ion-item>
          <ion-item menu-close><i class="ion-android-star"></i><span class="menufont">Rate Us</span></ion-item>
          <ion-item menu-close ui-sref="Settings"><i class="ion-gear-b"></i><span class="menufont">Settings</span></ion-item>
          <ion-item menu-close><i class="ion-headphone"></i><span class="menufont">Help & Support</span></ion-item>
          <ion-item menu-close ui-sref="FAQs"><i class="ion-ios-help"></i><span class="menufont">FAQs</span></ion-item>
          <ion-item menu-close><i class="ion-android-share-alt"></i><span class="menufont">Share</span></ion-item>
          <ion-item menu-close><i class="ion-android-notifications"></i><span class="menufont">Notification</span></ion-item>
          <ion-item menu-close ui-sref="AboutUs"><i class="ion-document-text"></i><span class="menufont">Abount Us</span></ion-item>
          <ion-item menu-close><i class="icon ion-earth"></i><span class="menufont">Open Network</span></ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
    </drawer>

</ion-side-menus>
