<ion-header-bar class="headerborder" >
	<div class="IconDiv" ng-click="goback();">
		<i class="ion ion-arrow-left-c back-icon headerICons"></i>
    </div>
    <div class="">
		<h3  class="headertitle">Home</h3>
	</div>
</ion-header-bar>
<ion-view class="pageBackground">
<ion-content >
	<style type="text/css">
	.tab-item.tab-item-active {
		color: #387EF5;
	}
	</style>
</ion-content>
  <ion-tabs class=" tabs-striped  tabs-icon-top tabs-top">
        <ion-tab  icon="ion-bag" title="Shop">
          <ion-nav-view name="tab-hsa"></ion-nav-view>
        </ion-tab>
        <ion-tab   icon="ion-person" title="Person" ui-sref="Payshop.Person">
          <ion-nav-view name="Person-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab  icon="ion-home" title="Bank" ui-sref="Payshop.Bank">
          <ion-nav-view name="Bank-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>     
</ion-view>



