<ion-view view-title="Home" class="pageBackground">
  <ion-content hide-nav-bar="true" on-swipe-right="goBack()" on-swipe-left="goforward()" class="" >
  <div class="card">
    <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label labelClass">Enter Number</span>
    <input type="text" class="inputClass" placeholder="Enter Number">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">Select Operater</div>
    <select>
      <option>Aircel</option>
      <option selected>Airtel</option>
      <option>Idea</option>
    </select>
  </label>
  <label class="item">
 <center> 
 <button class="button button-small button-positive btnclass">Recharge now</button>
 </center>
 </label>
</div>
</div>
  </ion-content>
</ion-view>
